
# Examen Final - Mortalidad Materna
Introducción
La base de datos contiene información de los casos de defunción relacionados con la mortalidad materna, esta información es pública.

Reglas:
Tendrán 3 horas para la realización del examen.
En cualquier momento, las alumnas podrán tomarse un descanso para ir al baño o para tomar café. En ningún momento se podrá conversar con sus compañeras.
Pueden usar sus códigos y recursos en línea.
No pueden trabajar en equipo.
El resultado de esta evaluación es puramente para encontrar áres de oportunidad en la forma de trabajo de CEROUNO. La calificación obtenida no pone en juego de ninguna manera la permanencia en el programa.
No se podrá ofrecer ayuda por parte del mentor y del asistente de clase para la solución del examen. Las únicas dudas que podrán ser respondidas son las pertinentes a los secretos del universo.

## Parte 1 - Presentación ( 5 puntos )
Presenta tus resultados en una libreta de Jupyter de manera clara y concisa. Deberás explicar tu método de resolución, el algoritmo, las gráficas y/o DataFrame final y las conclusiones.

## Parte 2 - Preámbulo ( 5 puntos )
Presenta todo lo necesario para comenzar tu análisis de la información. Todo deberá estar comentado para que el usuario final y puede ser entendido

In [9]:
# Importar librerias necesarias (no importa el orden)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Ejecutar mi base de datos

## Parte 3 - Análisis inicial (20 puntos)
 
- Nombre de los encabezados
Esta tabla contiene demasiada informacion.

- Muestra un DataFrame que contenga:Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia.
Con estos datos pudimos ver la edad promedio de los casos de difuncion materna, los lugares donde hay mas muertes.
- ¿Cuántas edades diferentes tenían las madres cuando fallecieron? Obten los estadísticos para esta columna y los valores de las edades diferentes.
Eran 50 edades diferentes y la edad promedio era de 29.
- Imprime los valores de los años de defunción ¿ Existen datos que son lógicos, es decir, están correctos? 
Aw no vi esta pregunta
- ¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos?
12 tipos, si hay muchos datos que son innecesarios.

- ¿Qué entidad tiene mayor número muertes?
imprimi las entidades, no alcance de tiempo.

### Nombre de los encabezados

In [10]:
# Cargar mi base de datos
BASE=pd.read_csv('mortalidad.csv')

# Ver los env=cabezados de mi base
BASE.head()

,Año de nacimiento,Mes de nacimiento,Descripción del mes de nacimiento,Día de nacimiento,Genero,Clave de la edad,Edad cumplida,Estado conyugal,Descripción del estado conyugal,Entidad de residencia,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,6,JUNIO,25,2,A,29,5,CASADO,31,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,2,FEBRERO,1,2,A,35,5,CASADO,31,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,6,JUNIO,21,2,A,29,5,CASADO,31,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,1,ENERO,23,2,A,36,5,CASADO,31,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,0,NO ESPECIFICADO,0,2,A,30,5,CASADO,9,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...

In [19]:
#BASE.describe(head)
BASE.columns.values.tolist()
#pd.DataFrame(BASE)

['Año de nacimiento',
 'Mes de nacimiento',
 'Descripción del mes de nacimiento',
 'Día de nacimiento',
 'Genero',
 'Clave de la edad',
 'Edad cumplida',
 'Estado conyugal',
 'Descripción del estado conyugal',
 'Entidad de residencia',
 'Descripción de entidad de residencia',
 'Municipio de residencia',
 'Descripción del municipio de residencia',
 'Localidad de residencia',
 'Descripión de la localidad de residencia',
 'Tamaño de localidad',
 'Descripción del tamaño de localidad',
 'Ocupación habitual',
 'Descripción de la ocupación habitual',
 'Escolaridad',
 'Descripción de la escolaridad',
 'Derechiahabiencia',
 'Descrición de la derechiahabiencia',
 'Entidad de ocurrencia',
 'Descripción de la entidad de ocurrencia',
 'Municipio de ocurrencia',
 'Descrición del municipio de ocurrencia',
 'Localidad de ocurrencia',
 'Descrición de la localidad de ocurrencia',
 'Sitio donde ocurrio la defunción',
 'Descripción del sitio donde ocurrio la defunción',
 'Año de la defunción',
 'Mes de la defunción',
 'Descrición del mes de la defunción',
 'Día de la defunción',
 'Hora de la defunción',
 'Minutos de la defunción',
 'Asistencia médica',
 'Descripción de la asistencia médica',
 'Causa CIE a  cuarto dígito',
 'Descrición de la causa CIE',
 'Quien certificó',
 'Descrición de quien certificó',
 'Entidad de registro',
 'Descrición de la entidad de registro',
 'Municipio de registro',
 'Descrición del municipio de registro',
 'Año de registro',
 'Mes de registro',
 'Descripción del mes de registro',
 'Día de registro',
 'Año de la certificación',
 'Mes de la certificación',
 'Descripció del mes de la certificación',
 'Día de la certificación',
 'Año de la base de datos',
 'Razón de mortalidad materna',
 'Descrición de la razón de mortalidad materna']

### Muestra un DataFrame que contenga: Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia.

In [21]:
# Primero eliminare las demas columnas
BASE2=BASE.drop(['Año de nacimiento',
 'Mes de nacimiento',
 'Descripción del mes de nacimiento',
 'Día de nacimiento',
 'Genero',
 'Clave de la edad',
 'Estado conyugal',
 'Entidad de residencia',
 'Descripción de entidad de residencia',
 'Municipio de residencia',
 'Descripción del municipio de residencia',
 'Localidad de residencia',
 'Descripión de la localidad de residencia',
 'Descripción del tamaño de localidad',
 'Ocupación habitual',
 'Descripción de la ocupación habitual',
 'Escolaridad',
 'Descripción de la escolaridad',
 'Derechiahabiencia',
 'Descrición de la derechiahabiencia',
 'Entidad de ocurrencia',
 'Descripción de la entidad de ocurrencia',
 'Municipio de ocurrencia',
 'Descrición del municipio de ocurrencia',
 'Sitio donde ocurrio la defunción',
 'Descripción del sitio donde ocurrio la defunción',
 'Año de la defunción',
 'Mes de la defunción',
 'Descrición del mes de la defunción',
 'Día de la defunción',
 'Hora de la defunción',
 'Minutos de la defunción',
 'Asistencia médica',
 'Descripción de la asistencia médica',
 'Causa CIE a  cuarto dígito',
 'Descrición de la causa CIE',
 'Quien certificó',
 'Descrición de quien certificó',
 'Entidad de registro',
 'Descrición de la entidad de registro',
 'Municipio de registro',
 'Descrición del municipio de registro',
 'Año de registro',
 'Mes de registro',
 'Descripción del mes de registro',
 'Día de registro',
 'Año de la certificación',
 'Mes de la certificación',
 'Descripció del mes de la certificación',
 'Día de la certificación',
 'Año de la base de datos',
 'Razón de mortalidad materna',
 'Descrición de la razón de mortalidad materna'], axis=1)

In [22]:
# Imprimo mi DataFrame como me lo pidieron
pd.DataFrame(BASE2)

,Edad cumplida,Descripción del estado conyugal,Tamaño de localidad,Localidad de ocurrencia,Descrición de la localidad de ocurrencia
0,29,CASADO,9,1,311020001 Valladolid
1,35,CASADO,9,1,310500001 Mérida
2,29,CASADO,4,1,310560001 Oxkutzcab
3,36,CASADO,1,1,310500001 Mérida
4,30,CASADO,0,0,090160000 No especificado
5,30,CASADO,0,0,090120000 No especificado
6,20,CASADO,12,0,150580000 No especificado
7,27,CASADO,15,1,150570001 Naucalpan de Juárez
8,43,CASADO,1,1,320170001 Guadalupe
9,31,CASADO,13,1,320560001 Zacatecas
10,31,CASADO,13,1,030030001 La Paz
11,35,CASADO,3,1,110200001 León de los Aldama
12,39,CASADO,3,1,160530001 Morelia
13,29,CASADO,9,1,301180001 Orizaba
14,45,CASADO,14,1,270040001 Villahermosa
15,42,CASADO,1,1,270040001 Villahermosa
16,17,CASADO,14,1,280220001 Heroica Matamoros
17,35,CASADO,1,126,070400126 Aztlán
18,39,SE IGNORA,14,1,180170001 Tepic
19,43,CASADO,15,1,150580001 Ciudad Nezahualcóyotl
20,38,CASADO,13,1,120290001 Chilpancingo de los Bravo
21,36,CASADO,14,1,151040001 Tlalnepantla
22,26,CASADO,1,1,301930001 Veracruz
23,17,CASADO,14,1,301930001 Veracruz
24,21,CASADO,1,656,070520656 Buenavista
25,22,CASADO,6,1,301930001 Veracruz
26,45,CASADO,14,1,180170001 Tepic
27,43,CASADO,13,1,211560001 Tehuacán
28,26,CASADO,15,1,230050001 Cancún
29,40,CASADO,6,1,300870001 Xalapa-Enríquez
...,...,...,...,...,...
17202,25,SOLTERO,5,1,301930001 Veracruz
17203,39,CASADO,1,97,301750097 Ojo de Agua
17204,27,CASADO,8,1,301310001 Poza Rica de Hidalgo
17205,30,UNION LIBRE,5,1,301930001 Veracruz
17206,31,CASADO,4,1,310500001 Mérida
17207,33,CASADO,5,1,311020001 Valladolid
17208,30,CASADO,1,1,311020001 Valladolid
17209,16,SOLTERO,4,1,310500001 Mérida
17210,34,VIUDO,4,1,310500001 Mérida
17211,16,UNION LIBRE,15,1,310500001 Mérida
17212,26,UNION LIBRE,5,1,310500001 Mérida
17213,21,UNION LIBRE,15,1,310500001 Mérida
17214,32,CASADO,13,1,310500001 Mérida
17215,21,SOLTERO,6,1,310530001 Muna
17216,25,UNION LIBRE,2,1,320560001 Zacatecas
17217,27,UNION LIBRE,3,1,320170001 Guadalupe
17218,23,UNION LIBRE,1,1,320100001 Fresnillo
17219,29,CASADO,1,1,320520001 Villa García
17220,16,SOLTERO,2,1,320170001 Guadalupe
17221,27,UNION LIBRE,6,1,320100001 Fresnillo
17222,27,UNION LIBRE,5,1,320560001 Zacatecas
17223,37,CASADO,2,1,300470001 Coscomatepec de Bravo
17224,26,SOLTERO,1,1,300440001 Córdoba
17225,23,UNION LIBRE,2,1,301380001 Río Blanco
17226,27,SOLTERO,5,1,300440001 Córdoba
17227,20,SOLTERO,10,1,310500001 Mérida
17228,45,CASADO,2,1,320560001 Zacatecas
17229,21,SOLTERO,5,1,310500001 Mérida
17230,39,CASADO,2,1,320370001 Pánuco
17231,25,CASADO,13,1,320170001 Guadalupe

### ¿Cuántas edades diferentes tenían las madres cuando fallecieron? Obten los estadísticos para esta columna y los valores de las edades diferentes.

In [52]:
# Aqui estoy haciendo una copia del panda y le asigno el nombre 
Edad_Cumplida=BASE2.set_index('Edad cumplida')
#len(Edad_Cumplida)

In [53]:
pd.DataFrame(Edad_Cumplida)

,Descripción del estado conyugal,Tamaño de localidad,Localidad de ocurrencia,Descrición de la localidad de ocurrencia
Edad cumplida,,,,
29,CASADO,9,1,311020001 Valladolid
35,CASADO,9,1,310500001 Mérida
29,CASADO,4,1,310560001 Oxkutzcab
36,CASADO,1,1,310500001 Mérida
30,CASADO,0,0,090160000 No especificado
30,CASADO,0,0,090120000 No especificado
20,CASADO,12,0,150580000 No especificado
27,CASADO,15,1,150570001 Naucalpan de Juárez
43,CASADO,1,1,320170001 Guadalupe
31,CASADO,13,1,320560001 Zacatecas
31,CASADO,13,1,030030001 La Paz
35,CASADO,3,1,110200001 León de los Aldama
39,CASADO,3,1,160530001 Morelia
29,CASADO,9,1,301180001 Orizaba
45,CASADO,14,1,270040001 Villahermosa
42,CASADO,1,1,270040001 Villahermosa
17,CASADO,14,1,280220001 Heroica Matamoros
35,CASADO,1,126,070400126 Aztlán
39,SE IGNORA,14,1,180170001 Tepic
43,CASADO,15,1,150580001 Ciudad Nezahualcóyotl
38,CASADO,13,1,120290001 Chilpancingo de los Bravo
36,CASADO,14,1,151040001 Tlalnepantla
26,CASADO,1,1,301930001 Veracruz
17,CASADO,14,1,301930001 Veracruz
21,CASADO,1,656,070520656 Buenavista
22,CASADO,6,1,301930001 Veracruz
45,CASADO,14,1,180170001 Tepic
43,CASADO,13,1,211560001 Tehuacán
26,CASADO,15,1,230050001 Cancún
40,CASADO,6,1,300870001 Xalapa-Enríquez
...,...,...,...,...
25,SOLTERO,5,1,301930001 Veracruz
39,CASADO,1,97,301750097 Ojo de Agua
27,CASADO,8,1,301310001 Poza Rica de Hidalgo
30,UNION LIBRE,5,1,301930001 Veracruz
31,CASADO,4,1,310500001 Mérida
33,CASADO,5,1,311020001 Valladolid
30,CASADO,1,1,311020001 Valladolid
16,SOLTERO,4,1,310500001 Mérida
34,VIUDO,4,1,310500001 Mérida
16,UNION LIBRE,15,1,310500001 Mérida
26,UNION LIBRE,5,1,310500001 Mérida
21,UNION LIBRE,15,1,310500001 Mérida
32,CASADO,13,1,310500001 Mérida
21,SOLTERO,6,1,310530001 Muna
25,UNION LIBRE,2,1,320560001 Zacatecas
27,UNION LIBRE,3,1,320170001 Guadalupe
23,UNION LIBRE,1,1,320100001 Fresnillo
29,CASADO,1,1,320520001 Villa García
16,SOLTERO,2,1,320170001 Guadalupe
27,UNION LIBRE,6,1,320100001 Fresnillo
27,UNION LIBRE,5,1,320560001 Zacatecas
37,CASADO,2,1,300470001 Coscomatepec de Bravo
26,SOLTERO,1,1,300440001 Córdoba
23,UNION LIBRE,2,1,301380001 Río Blanco
27,SOLTERO,5,1,300440001 Córdoba
20,SOLTERO,10,1,310500001 Mérida
45,CASADO,2,1,320560001 Zacatecas
21,SOLTERO,5,1,310500001 Mérida
39,CASADO,2,1,320370001 Pánuco
25,CASADO,13,1,320170001 Guadalupe

In [61]:
len(Edad_Cumplida)

17232

In [60]:
X=BASE2[['Edad cumplida']]
print(X)
X.describe()

       Edad cumplida
0                 29
1                 35
2                 29
3                 36
4                 30
5                 30
6                 20
7                 27
8                 43
9                 31
10                31
11                35
12                39
13                29
14                45
15                42
16                17
17                35
18                39
19                43
20                38
21                36
22                26
23                17
24                21
25                22
26                45
27                43
28                26
29                40
...              ...
17202             25
17203             39
17204             27
17205             30
17206             31
17207             33
17208             30
17209             16
17210             34
17211             16
17212             26
17213             21
17214             32
17215             21
17216             25
17217             27
17218             23
17219             29
17220             16
17221             27
17222             27
17223             37
17224             26
17225             23
17226             27
17227             20
17228             45
17229             21
17230             39
17231             25

[17232 rows x 1 columns]

       Edad cumplida
count   17232.000000
mean       29.765727
std        36.916010
min        11.000000
25%        22.000000
50%        28.000000
75%        34.000000
max       998.000000

In [65]:
# Todas las edades
print(BASE2['Edad cumplida'].unique())

[ 29  35  36  30  20  27  43  31  39  45  42  17  38  26  21  22  40  44
  34  41  33  13  24  25  37  19  23  32  28 998  15  46  48  16  18  12
  47  14  51  50  54  49  11  53  81  70  82  59  86  65]

In [66]:
len(BASE2['Edad cumplida'].unique())

50

### ¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos?

In [74]:
Escolaridad=BASE.set_index('Escolaridad')

In [75]:
len(BASE['Descripción de la escolaridad'].unique())

12

In [77]:
print(BASE['Descripción de la escolaridad'].unique())

['PRIMARIA INCOMPLETA' 'SECUNDARIA INCOMPLETA' 'PROFESIONAL' 'NINGUNA'
 'SECUNDARIA COMPLETA' 'NO ESPECIFICADO' 'POSGRADO' 'PRIMARIA COMPLETA'
 'BACHILLERATO O PREPARATORIA COMPLETA'
 'BACHILLERATO O PREPARATORIA INCOMPLETA' 'NO ESPECIFICADO\r\n'
 'PREESCOLAR']

### ¿Qué entidad tiene mayor número muertes?

Aqui estuve investigando donde me aparecia el nombre del municipio

In [91]:
len(BASE['Descrición del municipio de ocurrencia'].unique())

1433

In [90]:
z=(BASE['Descrición del municipio de ocurrencia'].unique())
pd.DataFrame(z)

                                      0
0                        102 VALLADOLID
1                            050 MERIDA
2                         056 OXKUTZCAB
3                    016 MIGUEL HIDALGO
4                           012 TLALPAN
5                    058 NEZAHUALCOYOTL
6               057 NAUCALPAN DE JUAREZ
7                         017 GUADALUPE
8                         056 ZACATECAS
9                            003 LA PAZ
10                             020 LEON
11                          053 MORELIA
12                          118 ORIZABA
13                           004 CENTRO
14                        022 MATAMOROS
15                          040 HUIXTLA
16                            017 TEPIC
17        029 CHILPANCINGO DE LOS BRAVO
18              104 TLALNEPANTLA DE BAZ
19                         193 VERACRUZ
20                   052 LAS MARGARITAS
21                         156 TEHUACAN
22                    005 BENITO JUAREZ
23                           087 XALAPA
24                   010 ALVARO OBREGON
25                           097 TONALA
26                 067 OAXACA DE JUAREZ
27                        010 FRESNILLO
28                       030 HERMOSILLO
29               001 ACAPULCO DE JUAREZ
...                                 ...
1403                         018 GARCÍA
1404               171 SAN JOSÉ TENANGO
1405         406 SANTA MARÍA CHILCHOTLA
1406         065 GENERAL FELIPE ÁNGELES
1407                  022 ATZITZIHUACÁN
1408                          016 EBANO
1409            124 SAN JOSÉ DEL RINCÓN
1410            113 JOSÉ SIXTO VERDUZCO
1411                       109 ZINÁPARO
1412               212 SAN JUAN PETLAPA
1413      134 SAN FELIPE JALAPA DE DÍAZ
1414                128 SAN JOSÉ CHIAPA
1415                       108 ORIENTAL
1416                        010 BACALAR
1417                   043 TIERRA NUEVA
1418                       005 CÁRDENAS
1419                         005 COSALÁ
1420                         023 CUMPAS
1421          055 SAN LUIS RÍO COLORADO
1422           102 MARTÍNEZ DE LA TORRE
1423  015 COALCOMÁN DE VÁZQUEZ PALLARES
1424               161 TEPANCO DE LÓPEZ
1425                      082 TACÁMBARO
1426                         055 MÚGICA
1427          407 SANTA MARÍA CHIMALAPA
1428                     183 TLAPACOYAN
1429                      175 TIHUATLÁN
1430                           053 MUNA
1431                   052 VILLA GARCÍA
1432                         037 PÁNUCO

[1433 rows x 1 columns]

## Parte 4 - Búsqueda de datos (25 puntos + 5 puntos extra )

Imprime 2 DataFrames que sinteticen cierta información. Estos DataFrames deberán estar explicados con el contexto y el razón de porque son relevantes. Imprime solo el encabezado.

Puntos extra: Entrega un análisis simple de cada DataFrame

Parte 5 - Información gráfica (40 puntos + 20 puntos extra)
Realiza un analísis utilizando una gráfica de línea

Realiza un análisis de la relación entre dos variables.

Realizar un análisis donde se necesite usar histogramas.

Presenta un análisis utilizando una gráfica de barras de los indicadores para múltiples paises. (PUNTOS EXTRA)

Realicen una análisis de correlación para 4 variables (PUNTOS EXTRA) (¿Scatter or density?)

In [ ]:
# Primero eliminare las demas columnas
BASE4=BASE.([''], axis=1)