
# Examen Final - Mortalidad Materna
Introducción
La base de datos contiene información de los casos de defunción relacionados con la mortalidad materna, esta información es pública.

Reglas:
Tendrán 3 horas para la realización del examen.
En cualquier momento, las alumnas podrán tomarse un descanso para ir al baño o para tomar café. En ningún momento se podrá conversar con sus compañeras.
Pueden usar sus códigos y recursos en línea.
No pueden trabajar en equipo.
El resultado de esta evaluación es puramente para encontrar áres de oportunidad en la forma de trabajo de CEROUNO. La calificación obtenida no pone en juego de ninguna manera la permanencia en el programa.
No se podrá ofrecer ayuda por parte del mentor y del asistente de clase para la solución del examen. Las únicas dudas que podrán ser respondidas son las pertinentes a los secretos del universo.

## Parte 1 - Presentación ( 5 puntos )
Presenta tus resultados en una libreta de Jupyter de manera clara y concisa. Deberás explicar tu método de resolución, el algoritmo, las gráficas y/o DataFrame final y las conclusiones.

## Parte 2 - Preámbulo ( 5 puntos )
Presenta todo lo necesario para comenzar tu análisis de la información. Todo deberá estar comentado para que el usuario final y puede ser entendido

In [1]:
# Importar librerias necesarias (no importa el orden)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Ejecutar mi base de datos

## Parte 3 - Análisis inicial (20 puntos)
 
- Nombre de los encabezados
Esta tabla contiene demasiada informacion.

- Muestra un DataFrame que contenga:
Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia.Con estos datos pudimos ver la edad promedio de los casos de difuncion materna, los lugares donde hay mas muertes.
- ¿Cuántas edades diferentes tenían las madres cuando fallecieron? Obten los estadísticos para esta columna y los valores de las edades diferentes.
Eran 50 edades diferentes y la edad promedio era de 29.
- Imprime los valores de los años de defunción ¿ Existen datos que son lógicos, es decir, están correctos?
- ¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos?
12 tipos, si hay muchos datos que son innecesarios.

- ¿Qué entidad tiene mayor número muertes?
imprimi las entidades, no alcance de tiempo.

### Nombre de los encabezados

In [3]:
# Cargar mi base de datos
BASE=pd.read_csv('mortalidad.csv')

# Ver los env=cabezados de mi base
BASE.head()

,Año de nacimiento,Mes de nacimiento,Descripción del mes de nacimiento,Día de nacimiento,Genero,Clave de la edad,Edad cumplida,Estado conyugal,Descripción del estado conyugal,Entidad de residencia,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,6,JUNIO,25,2,A,29,5,CASADO,31,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,2,FEBRERO,1,2,A,35,5,CASADO,31,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,6,JUNIO,21,2,A,29,5,CASADO,31,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,1,ENERO,23,2,A,36,5,CASADO,31,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,0,NO ESPECIFICADO,0,2,A,30,5,CASADO,9,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...

In [19]:
#BASE.describe(head)
BASE.columns.values.tolist()

['Año de nacimiento',
 'Mes de nacimiento',
 'Descripción del mes de nacimiento',
 'Día de nacimiento',
 'Genero',
 'Clave de la edad',
 'Edad cumplida',
 'Estado conyugal',
 'Descripción del estado conyugal',
 'Entidad de residencia',
 'Descripción de entidad de residencia',
 'Municipio de residencia',
 'Descripción del municipio de residencia',
 'Localidad de residencia',
 'Descripión de la localidad de residencia',
 'Tamaño de localidad',
 'Descripción del tamaño de localidad',
 'Ocupación habitual',
 'Descripción de la ocupación habitual',
 'Escolaridad',
 'Descripción de la escolaridad',
 'Derechiahabiencia',
 'Descrición de la derechiahabiencia',
 'Entidad de ocurrencia',
 'Descripción de la entidad de ocurrencia',
 'Municipio de ocurrencia',
 'Descrición del municipio de ocurrencia',
 'Localidad de ocurrencia',
 'Descrición de la localidad de ocurrencia',
 'Sitio donde ocurrio la defunción',
 'Descripción del sitio donde ocurrio la defunción',
 'Año de la defunción',
 'Mes de la defunción',
 'Descrición del mes de la defunción',
 'Día de la defunción',
 'Hora de la defunción',
 'Minutos de la defunción',
 'Asistencia médica',
 'Descripción de la asistencia médica',
 'Causa CIE a  cuarto dígito',
 'Descrición de la causa CIE',
 'Quien certificó',
 'Descrición de quien certificó',
 'Entidad de registro',
 'Descrición de la entidad de registro',
 'Municipio de registro',
 'Descrición del municipio de registro',
 'Año de registro',
 'Mes de registro',
 'Descripción del mes de registro',
 'Día de registro',
 'Año de la certificación',
 'Mes de la certificación',
 'Descripció del mes de la certificación',
 'Día de la certificación',
 'Año de la base de datos',
 'Razón de mortalidad materna',
 'Descrición de la razón de mortalidad materna']

### Muestra un DataFrame que contenga: Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia.

In [5]:
# Primero eliminare las demas columnas
BASE2=BASE.drop(['Año de nacimiento',
 'Mes de nacimiento',
 'Descripción del mes de nacimiento',
 'Día de nacimiento',
 'Genero',
 'Clave de la edad',
 'Estado conyugal',
 'Entidad de residencia',
 'Descripción de entidad de residencia',
 'Municipio de residencia',
 'Descripción del municipio de residencia',
 'Localidad de residencia',
 'Descripión de la localidad de residencia',
 'Descripción del tamaño de localidad',
 'Ocupación habitual',
 'Descripción de la ocupación habitual',
 'Escolaridad',
 'Descripción de la escolaridad',
 'Derechiahabiencia',
 'Descrición de la derechiahabiencia',
 'Entidad de ocurrencia',
 'Descripción de la entidad de ocurrencia',
 'Municipio de ocurrencia',
 'Descrición del municipio de ocurrencia',
 'Sitio donde ocurrio la defunción',
 'Descripción del sitio donde ocurrio la defunción',
 'Año de la defunción',
 'Mes de la defunción',
 'Descrición del mes de la defunción',
 'Día de la defunción',
 'Hora de la defunción',
 'Minutos de la defunción',
 'Asistencia médica',
 'Descripción de la asistencia médica',
 'Causa CIE a  cuarto dígito',
 'Descrición de la causa CIE',
 'Quien certificó',
 'Descrición de quien certificó',
 'Entidad de registro',
 'Descrición de la entidad de registro',
 'Municipio de registro',
 'Descrición del municipio de registro',
 'Año de registro',
 'Mes de registro',
 'Descripción del mes de registro',
 'Día de registro',
 'Año de la certificación',
 'Mes de la certificación',
 'Descripció del mes de la certificación',
 'Día de la certificación',
 'Año de la base de datos',
 'Razón de mortalidad materna',
 'Descrición de la razón de mortalidad materna'], axis=1)

In [6]:
# Imprimo mi DataFrame como me lo pidieron
pd.DataFrame(BASE2)

,Edad cumplida,Descripción del estado conyugal,Tamaño de localidad,Localidad de ocurrencia,Descrición de la localidad de ocurrencia
0,29,CASADO,9,1,311020001 Valladolid
1,35,CASADO,9,1,310500001 Mérida
2,29,CASADO,4,1,310560001 Oxkutzcab
3,36,CASADO,1,1,310500001 Mérida
4,30,CASADO,0,0,090160000 No especificado
5,30,CASADO,0,0,090120000 No especificado
6,20,CASADO,12,0,150580000 No especificado
7,27,CASADO,15,1,150570001 Naucalpan de Juárez
8,43,CASADO,1,1,320170001 Guadalupe
9,31,CASADO,13,1,320560001 Zacatecas
10,31,CASADO,13,1,030030001 La Paz
11,35,CASADO,3,1,110200001 León de los Aldama
12,39,CASADO,3,1,160530001 Morelia
13,29,CASADO,9,1,301180001 Orizaba
14,45,CASADO,14,1,270040001 Villahermosa
15,42,CASADO,1,1,270040001 Villahermosa
16,17,CASADO,14,1,280220001 Heroica Matamoros
17,35,CASADO,1,126,070400126 Aztlán
18,39,SE IGNORA,14,1,180170001 Tepic
19,43,CASADO,15,1,150580001 Ciudad Nezahualcóyotl
20,38,CASADO,13,1,120290001 Chilpancingo de los Bravo
21,36,CASADO,14,1,151040001 Tlalnepantla
22,26,CASADO,1,1,301930001 Veracruz
23,17,CASADO,14,1,301930001 Veracruz
24,21,CASADO,1,656,070520656 Buenavista
25,22,CASADO,6,1,301930001 Veracruz
26,45,CASADO,14,1,180170001 Tepic
27,43,CASADO,13,1,211560001 Tehuacán
28,26,CASADO,15,1,230050001 Cancún
29,40,CASADO,6,1,300870001 Xalapa-Enríquez
...,...,...,...,...,...
17202,25,SOLTERO,5,1,301930001 Veracruz
17203,39,CASADO,1,97,301750097 Ojo de Agua
17204,27,CASADO,8,1,301310001 Poza Rica de Hidalgo
17205,30,UNION LIBRE,5,1,301930001 Veracruz
17206,31,CASADO,4,1,310500001 Mérida
17207,33,CASADO,5,1,311020001 Valladolid
17208,30,CASADO,1,1,311020001 Valladolid
17209,16,SOLTERO,4,1,310500001 Mérida
17210,34,VIUDO,4,1,310500001 Mérida
17211,16,UNION LIBRE,15,1,310500001 Mérida
17212,26,UNION LIBRE,5,1,310500001 Mérida
17213,21,UNION LIBRE,15,1,310500001 Mérida
17214,32,CASADO,13,1,310500001 Mérida
17215,21,SOLTERO,6,1,310530001 Muna
17216,25,UNION LIBRE,2,1,320560001 Zacatecas
17217,27,UNION LIBRE,3,1,320170001 Guadalupe
17218,23,UNION LIBRE,1,1,320100001 Fresnillo
17219,29,CASADO,1,1,320520001 Villa García
17220,16,SOLTERO,2,1,320170001 Guadalupe
17221,27,UNION LIBRE,6,1,320100001 Fresnillo
17222,27,UNION LIBRE,5,1,320560001 Zacatecas
17223,37,CASADO,2,1,300470001 Coscomatepec de Bravo
17224,26,SOLTERO,1,1,300440001 Córdoba
17225,23,UNION LIBRE,2,1,301380001 Río Blanco
17226,27,SOLTERO,5,1,300440001 Córdoba
17227,20,SOLTERO,10,1,310500001 Mérida
17228,45,CASADO,2,1,320560001 Zacatecas
17229,21,SOLTERO,5,1,310500001 Mérida
17230,39,CASADO,2,1,320370001 Pánuco
17231,25,CASADO,13,1,320170001 Guadalupe

### ¿Cuántas edades diferentes tenían las madres cuando fallecieron?
Obten los estadísticos para esta columna y los valores de las edades diferentes.

In [7]:
BASE2['Edad cumplida'].value_counts()

30     774
23     774
29     766
28     755
22     740
31     740
32     737
27     730
33     722
25     711
20     710
24     708
26     708
35     697
21     681
34     666
36     633
19     626
18     586
37     567
38     494
17     455
39     443
16     337
40     332
41     252
42     204
15     159
43     146
44      95
14      72
45      55
46      32
47      25
998     24
48      19
13      16
12       9
51       6
50       6
49       6
54       3
53       2
70       2
82       2
11       1
81       1
65       1
59       1
86       1
Name: Edad cumplida, dtype: int64

In [17]:
# Sacar datos estadisticos de la Edad Cumplida
BASE2['Edad cumplida'].describe()

count    17232.000000
mean        29.765727
std         36.916010
min         11.000000
25%         22.000000
50%         28.000000
75%         34.000000
max        998.000000
Name: Edad cumplida, dtype: float64

In [45]:
print(BASE2['Edad cumplida'].unique())

[ 29  35  36  30  20  27  43  31  39  45  42  17  38  26  21  22  40  44
  34  41  33  13  24  25  37  19  23  32  28 998  15  46  48  16  18  12
  47  14  51  50  54  49  11  53  81  70  82  59  86  65]

In [50]:
len(BASE2['Edad cumplida'].unique())

50

### Imprime los valores de los años de defunción ¿ Existen datos que son lógicos, es decir, están correctos?Eliminaremos Edades de 60 años para arriba porque ni son logicos ni correctos

In [49]:
# Creare otra base de datos que tenga las edades razonables y logicas
EdadRazonable=BASE2[BASE2['Edad cumplida']< 60]
# el numero de registros debe ser menos
len(EdadRazonable)

17201

In [52]:
# Aqui estan los datos estadisticos ya modificados, estos son mas razonables.
EdadRazonable.describe()

       Edad cumplida  Tamaño de localidad  Localidad de ocurrencia
count   17201.000000         17201.000000             17201.000000
mean       28.395733             7.826987                17.764607
std         7.372148             5.927327               102.331405
min        11.000000             0.000000                 0.000000
25%        22.000000             2.000000                 1.000000
50%        28.000000             7.000000                 1.000000
75%        34.000000            14.000000                 1.000000
max        59.000000            17.000000              3515.000000

In [15]:
# Todas las edades
print(EdadRazonable['Edad cumplida'].unique())

[29 35 36 30 20 27 43 31 39 45 42 17 38 26 21 22 40 44 34 41 33 13 24 25
 37 19 23 32 28 15 46 48 16 18 12 47 14 51 50 54 49 11 53 59]

In [53]:
len(EdadRazonable['Edad cumplida'].unique())

44

In [54]:
pd.DataFrame(EdadRazonable)

,Edad cumplida,Descripción del estado conyugal,Tamaño de localidad,Localidad de ocurrencia,Descrición de la localidad de ocurrencia
0,29,CASADO,9,1,311020001 Valladolid
1,35,CASADO,9,1,310500001 Mérida
2,29,CASADO,4,1,310560001 Oxkutzcab
3,36,CASADO,1,1,310500001 Mérida
4,30,CASADO,0,0,090160000 No especificado
5,30,CASADO,0,0,090120000 No especificado
6,20,CASADO,12,0,150580000 No especificado
7,27,CASADO,15,1,150570001 Naucalpan de Juárez
8,43,CASADO,1,1,320170001 Guadalupe
9,31,CASADO,13,1,320560001 Zacatecas
10,31,CASADO,13,1,030030001 La Paz
11,35,CASADO,3,1,110200001 León de los Aldama
12,39,CASADO,3,1,160530001 Morelia
13,29,CASADO,9,1,301180001 Orizaba
14,45,CASADO,14,1,270040001 Villahermosa
15,42,CASADO,1,1,270040001 Villahermosa
16,17,CASADO,14,1,280220001 Heroica Matamoros
17,35,CASADO,1,126,070400126 Aztlán
18,39,SE IGNORA,14,1,180170001 Tepic
19,43,CASADO,15,1,150580001 Ciudad Nezahualcóyotl
20,38,CASADO,13,1,120290001 Chilpancingo de los Bravo
21,36,CASADO,14,1,151040001 Tlalnepantla
22,26,CASADO,1,1,301930001 Veracruz
23,17,CASADO,14,1,301930001 Veracruz
24,21,CASADO,1,656,070520656 Buenavista
25,22,CASADO,6,1,301930001 Veracruz
26,45,CASADO,14,1,180170001 Tepic
27,43,CASADO,13,1,211560001 Tehuacán
28,26,CASADO,15,1,230050001 Cancún
29,40,CASADO,6,1,300870001 Xalapa-Enríquez
...,...,...,...,...,...
17202,25,SOLTERO,5,1,301930001 Veracruz
17203,39,CASADO,1,97,301750097 Ojo de Agua
17204,27,CASADO,8,1,301310001 Poza Rica de Hidalgo
17205,30,UNION LIBRE,5,1,301930001 Veracruz
17206,31,CASADO,4,1,310500001 Mérida
17207,33,CASADO,5,1,311020001 Valladolid
17208,30,CASADO,1,1,311020001 Valladolid
17209,16,SOLTERO,4,1,310500001 Mérida
17210,34,VIUDO,4,1,310500001 Mérida
17211,16,UNION LIBRE,15,1,310500001 Mérida
17212,26,UNION LIBRE,5,1,310500001 Mérida
17213,21,UNION LIBRE,15,1,310500001 Mérida
17214,32,CASADO,13,1,310500001 Mérida
17215,21,SOLTERO,6,1,310530001 Muna
17216,25,UNION LIBRE,2,1,320560001 Zacatecas
17217,27,UNION LIBRE,3,1,320170001 Guadalupe
17218,23,UNION LIBRE,1,1,320100001 Fresnillo
17219,29,CASADO,1,1,320520001 Villa García
17220,16,SOLTERO,2,1,320170001 Guadalupe
17221,27,UNION LIBRE,6,1,320100001 Fresnillo
17222,27,UNION LIBRE,5,1,320560001 Zacatecas
17223,37,CASADO,2,1,300470001 Coscomatepec de Bravo
17224,26,SOLTERO,1,1,300440001 Córdoba
17225,23,UNION LIBRE,2,1,301380001 Río Blanco
17226,27,SOLTERO,5,1,300440001 Córdoba
17227,20,SOLTERO,10,1,310500001 Mérida
17228,45,CASADO,2,1,320560001 Zacatecas
17229,21,SOLTERO,5,1,310500001 Mérida
17230,39,CASADO,2,1,320370001 Pánuco
17231,25,CASADO,13,1,320170001 Guadalupe

### ¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos?
#### Obtendre estos datos de mi primera base (BASE) porque en la BASE2 me pidieron eliminar esta columna
En escolaridad no me dice nada, lo encontre en Descripcion de la escolaridad

In [27]:
len(BASE['Escolaridad'].unique())
#Escolaridad=BASE.set_index('Escolaridad')

11

In [30]:
print(BASE['Escolaridad'].unique())

[ 2  4  7  1  5  0 10  3  6 11 12]

In [33]:
# Cuantos tipos de escolaridad existen? Descripcion de la escolaridad
len(BASE['Descripción de la escolaridad'].unique())

12

In [36]:
print(BASE['Descripción de la escolaridad'].unique())

['PRIMARIA INCOMPLETA' 'SECUNDARIA INCOMPLETA' 'PROFESIONAL' 'NINGUNA'
 'SECUNDARIA COMPLETA' 'NO ESPECIFICADO' 'POSGRADO' 'PRIMARIA COMPLETA'
 'BACHILLERATO O PREPARATORIA COMPLETA'
 'BACHILLERATO O PREPARATORIA INCOMPLETA' 'NO ESPECIFICADO\r\n'
 'PREESCOLAR']

### ¿Qué entidad tiene mayor número muertes?

Aqui estuve investigando donde me aparecia el nombre del municipio

In [38]:
len(EdadRazonable['Descrición de la localidad de ocurrencia'].unique())

2904

In [43]:
EdadRazonable['Descrición de la localidad de ocurrencia'].value_counts()

140390001 Guadalajara                       550
151060001 Toluca de Lerdo                   445
211140001 Heróica Puebla de Zaragoza        433
090150001 Cuauhtémoc                        286
270040001 Villahermosa                      279
190390001 Monterrey                         275
160530001 Morelia                           256
110200001 León de los Aldama                255
071010001 Tuxtla Gutiérrez                  237
150330001 Ecatepec de Morelos               236
200670001 Oaxaca de Juárez                  232
310500001 Mérida                            231
020040001 Tijuana                           218
090020001 Azcapotzalco                      211
130480001 Pachuca de Soto                   199
120010001 Acapulco de Juárez                199
090050001 Gustavo A. Madero                 197
220140001 Santiago de Querétaro             196
090070001 Iztapalapa                        193
080370001 Juárez                            190
090160001 Miguel Hidalgo                    182
240280001 San Luis Potosí                   181
301930001 Veracruz                          175
080190001 Chihuahua                         167
150580001 Ciudad Nezahualcóyotl             161
090120001 Tlalpan                           147
300870001 Xalapa-Enríquez                   141
301310001 Poza Rica de Hidalgo              139
170070001 Cuernavaca                        137
010010001 Aguascalientes                    136
                                           ...
161100037 El Salto                            1
200290008 Agua Torcida                        1
205170001 Santo Domingo Tepuxtepec            1
120450015 Temalacatzingo                      1
150420014 San Antonio Bonixi                  1
160990001 Tuzantla                            1
120100009 Caxitepec                           1
070940016 Nuevo León                          1
080460248 El Carricito                        1
300410002 Coetzapotitla                       1
150600069 Loma Larga                          1
070300001 Chicomuselo                         1
210550009 La Trinidad                         1
070570271 Tenán                               1
120380013 San José Ixtapa (Barrio Viejo)      1
204500022 El Laurel                           1
270020075 Santana 1ra. Sección A              1
205370007 San Andrés Montaña                  1
211110024 El Pozo                             1
140610435 Campamento                          1
130020065 La Cumbre de Santa Catarina         1
100050174 Francisco Villa Nuevo               1
080660792 El Cajón                            1
120280169 Zinenezintla                        1
211860001 Ciudad de Tlatlauquitepec           1
170040002 Abelardo L. Rodríguez               1
120010107 Huamuchitos                         1
050040001 Arteaga                             1
150270001 Chapultepec                         1
302030006 Tecuantepec                         1
Name: Descrición de la localidad de ocurrencia, Length: 2904, dtype: int64

In [44]:
z=(EdadRazonable['Descrición de la localidad de ocurrencia'].unique())
pd.DataFrame(z)

                                           0
0                       311020001 Valladolid
1                           310500001 Mérida
2                        310560001 Oxkutzcab
3                  090160000 No especificado
4                  090120000 No especificado
5                  150580000 No especificado
6              150570001 Naucalpan de Juárez
7                        320170001 Guadalupe
8                        320560001 Zacatecas
9                           030030001 La Paz
10              110200001 León de los Aldama
11                         160530001 Morelia
12                         301180001 Orizaba
13                    270040001 Villahermosa
14               280220001 Heroica Matamoros
15                          070400126 Aztlán
16                           180170001 Tepic
17           150580001 Ciudad Nezahualcóyotl
18       120290001 Chilpancingo de los Bravo
19                    151040001 Tlalnepantla
20                        301930001 Veracruz
21                      070520656 Buenavista
22                        211560001 Tehuacán
23                          230050001 Cancún
24                 300870001 Xalapa-Enríquez
25                  090100001 Álvaro Obregón
26                          070970001 Tonalá
27                200670001 Oaxaca de Juárez
28                       320100001 Fresnillo
29                      260300001 Hermosillo
...                                      ...
2874                  240430001 Tierra Nueva
2875      240540065 San Antonio Xalcuayo Dos
2876                      240050001 Cárdenas
2877                        250050001 Cosalá
2878                        260230001 Cumpas
2879                      280030001 Altamira
2880                    300010006 El Encinal
2881        301610140 El Moralillo (Morillo)
2882                   301490059 San Antonio
2883                       300660001 Espinal
2884                   301550043 El Ciruelar
2885               160150000 No especificado
2886              204060029 San Miguel Nuevo
2887           211610002 Francisco I. Madero
2888                     220080001 Huimilpan
2889               240280000 No especificado
2890                260290325 Vícam (Switch)
2891                  170040001 Ciudad Ayala
2892               200790000 No especificado
2893               250120000 No especificado
2894          160550001 Nueva Italia de Ruiz
2895         210710027 Tenango de las Flores
2896  180090132 San Rafael (San Rafael Alto)
2897                    180090133 San Rafael
2898          204070024 San Francisco la Paz
2899                    301830001 Tlapacoyan
2900        300580344 Morenotlán Tepetzintla
2901                   301750097 Ojo de Agua
2902                          310530001 Muna
2903                        320370001 Pánuco

[2904 rows x 1 columns]

## Parte 4 - Búsqueda de datos (25 puntos + 5 puntos extra )

### Imprime 2 DataFrames que sinteticen cierta información.
Estos DataFrames deberán estar explicados con el contexto y el razón de porque son relevantes.
Imprime solo el encabezado.
Puntos extra: Entrega un análisis simple de cada DataFrame

In [63]:
z1=(EdadRazonable['Descripción del estado conyugal'].unique())
pd.DataFrame(z1)

                                0
0                          CASADO
1                       SE IGNORA
2                        SEPARADO
3                      DIVORCIADO
4                     UNION LIBRE
5                         SOLTERO
6                           VIUDO
7  NO APLICA A MENORES DE 12 AÑOS

In [68]:
# z2=(EdadRazonable['Descripción del estado conyugal'].unique())
EdadRazonable['Descripción del estado conyugal'].value_counts()
#pd.DataFrame(z2)

CASADO                            7642
UNION LIBRE                       6370
SOLTERO                           2531
SE IGNORA                          315
DIVORCIADO                         142
VIUDO                              107
SEPARADO                            93
NO APLICA A MENORES DE 12 AÑOS       1
Name: Descripción del estado conyugal, dtype: int64

## Parte 5 - Información gráfica (40 puntos + 20 puntos extra)

### Realiza un analísis utilizando una gráfica de línea
### Realiza un análisis de la relación entre dos variables.
### Realizar un análisis donde se necesite usar histogramas.
### Presenta un análisis utilizando una gráfica de barras de los indicadores para múltiples paises. (PUNTOS EXTRA)
Realicen una análisis de correlación para 4 variables (PUNTOS EXTRA) (¿Scatter or density?)